.navPagination{
  box-sizing: border-box;
  margin-top: 100px;
  align-self: center;
  width: 50%;
  text-align: center;
}

.ulPagination{
  display: inline;
  padding: 0;
  list-style-type: none;
  margin: auto;
}
.liPagination {
  display: inline;
}

.buttonPagination {
  margin: 0 2%;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	/* background-color:  transparent; */
	border-radius:  6px;
	border:  1px solid #dcdcdc;
	display:  inline-block;
	cursor: pointer;
	color: #666666;
	font-family:  Arial;
	font-size:  15px;
	font-weight:  bold;
	padding:  6px 9px;
	text-decoration:  none;
}
/* .buttonPagination:hover {
	background-color:transparent;
} */
.buttonPagination:active {
	position:relative;
	top:1px;
}
