@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Playfair+Display&display=swap');

.navbar-up {
	z-index: 999;
	background-color:#373737;
	position: fixed;
	top: 0px;
	width: 100%;

}
.navbar {
	background-color:#373737;
}
body {
	font-family: 'Playfair Display', serif;
}
#search {
	position: fixed;
	right: 10px;
}
#brand{
	margin-left: 16px;
	margin-right: 16px;
}
a {
	color: white;
}
a:hover {
	color: #F5CB5C;
	font-size: 108%;
}
h1 {
	color: #F5CB5C;;
}